@use 'vars';

.new-tweet textarea {
  height: 1.7em;
  background: none;
  border: none;
  border-bottom: 0.15em solid vars.$gray;
  vertical-align: top;
  resize: vertical;
  width: 100%;
  font-weight: 600;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.new-tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0 2em 0;
  font-family: vars.$brand-font;
}

.new-tweet button {
  color: vars.$offwhite;
  border: none;
  background-color: vars.$main;
  padding: 0.2em 0.5em;
}

.counter {
  padding: 0 0.3em;
}

.red {
  color: red;
}

.error {
  border: 0.15em solid firebrick;
  margin-bottom: 0.7em;
  padding: 0.7em;
  color: firebrick;
  display: none;
}

.error span {
  padding-left: 0.7em;
  font-weight: 600;
}
