.signed-in-user {
  /* margin-top: 5em; */
  width: 100%;
  background-color: #bb5a00;
  color: #f4f1ec;
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
  height: 16.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lastname {
  font-weight: 300;
}

@media (min-width: 960px) {
  .signed-in-user {
    width: 40%;
  }
}
